body {
	font-size: 100%/1em;
	font-family: elektra_light_proregular;
	width: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

// Clearfix

.clearfix:after {
  content:".";
  clear:both;
  display:block;
  height:0;
  font-size:0;
  visibility:hidden
}

// Общий стиль для странички

.header__info, .header__buy, .header__nav, .content, .footer {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}