/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* line 9, ../sass/ie.scss */
.slider__controls-button_next {
  right: 8px;
}
/* line 11, ../sass/ie.scss */
.slider__controls-button_next:hover:after {
  border-left: 8px solid #00b9fe;
}
/* line 14, ../sass/ie.scss */
.slider__controls-button_next:after {
  border-left: 8px solid #d0e4f3;
  right: -7px;
}

/* line 20, ../sass/ie.scss */
.character-items:first-child + *,
.character-items:first-child + * + * + *,
.character-items:first-child + * + * + * + * + *,
.character-items:first-child + * + * + * + * + * + * + *,
.character-items:first-child + * + * + * + * + * + * + * + * + * {
  background: #eef2f4;
}

/* line 28, ../sass/ie.scss */
.character-innerItems:first-child + * {
  padding: 9px 25px 8px 63px;
  width: 255px;
}

/* line 34, ../sass/ie.scss */
.character-table {
  width: 443px;
}

/* line 38, ../sass/ie.scss */
.backet__list-row:first-child + * {
  background: #eef2f4;
}

/* line 42, ../sass/ie.scss */
.header__nav__list-item {
  border-right: 1px solid #dce6f0;
}

/* line 46, ../sass/ie.scss */
.header__nav__list-item:first-child + * + * + * + * + * + * {
  border-right: 1px solid transparent;
}

/* line 50, ../sass/ie.scss */
.header__buy__search {
  margin: 10px 0 12px 0;
}

/* line 54, ../sass/ie.scss */
.header__nav__list-link {
  padding: 10px 20px 11px 19px;
}
/* line 55, ../sass/ie.scss */
.header__nav__list-link:after, .header__nav__list-link:before {
  display: none;
}

/* line 62, ../sass/ie.scss */
.header__nav__wrapper {
  border-bottom: 1px solid  #dce6f0;
}

/* line 66, ../sass/ie.scss */
.buttonUp {
  display: block;
  filter: alpha(opacity=30);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}
/* line 70, ../sass/ie.scss */
.buttonUp:hover {
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
/* line 73, ../sass/ie.scss */
.buttonUp:hover .triangle {
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

/* line 80, ../sass/ie.scss */
.buttonUp-link {
  padding-bottom: 6px;
}

/* line 84, ../sass/ie.scss */
.triangle {
  filter: alpha(opacity=30);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}
