/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */

// Hack for IE8

.slider__controls-button_next {
  right: 8px;
  &:hover:after {
    border-left: 8px solid #00b9fe;
  }
  &:after {
    border-left: 8px solid #d0e4f3;
    right: -7px;
  }
}

.character-items:first-child + *,
.character-items:first-child + * + * + *,
.character-items:first-child + * + * + * + * + *,
.character-items:first-child + * + * + * + * + * + * + *,
.character-items:first-child + * + * + * + * + * + * + * + * + * {
  background: #eef2f4;
}

.character-innerItems:first-child+ * {
  padding: 9px 25px 8px 63px;
  width: 255px;
}


.character-table {
  width: 188+255px;
}

.backet__list-row:first-child + *{
  background: #eef2f4;
}

.header__nav__list-item {
  border-right: 1px solid #dce6f0;
}

.header__nav__list-item:first-child + * + * + * + * + * + * {
  border-right: 1px solid transparent;
}

.header__buy__search {
  margin: 10px 0 12px 0;
}

.header__nav__list-link {
  &:after, &:before {
    display: none;
  }
  padding: 10px 20px 11px 19px;
}


.header__nav__wrapper {
  border-bottom: 1px solid  #dce6f0;
}

.backet__item:first-child + * {
  background: #eef2f4;
}

.buttonUp {
  display: block;
  filter: alpha(opacity=30);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  &:hover {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    & .triangle {
      filter: alpha(opacity=100);
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
  }
}

.buttonUp-link {
  padding-bottom: 6px;
}

.triangle {
  filter: alpha(opacity=30);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}