.header__wrapper {
	width: 100%;
    margin-bottom: 24px;
}


// Цвет 1-го, 2-го и 3-го блока шапки

.header__info__wrapper {
	background: #45626e;
}
.header__info {
  @extend .clearfix;
}

.header__buy__wrapper {
	background: #eef3f7;
}

.header__nav__wrapper {
	background: #fff;
}

// 1-ый блок в шапке

// Адрес

.header__info__address {
  text-align: center;
	.header__info__address-map {
		line-height: 41px;
        padding-bottom: 4px;
		color: #FFF;
		font-size: 13px;
		font-weight: 400;
		font-style: normal;
		position: relative;
		&:after {
			position: absolute;
			background: url(../img/sprites.png) no-repeat -150px -25px;
			content: '';
			width: 16px;
			height: 22px;
			top: -6px;
			left: -25px;
		}
	}
}

.header__info__address-map {
  text-decoration: none;
  color: #fff;
}

// Номер телефона

.header__info__phone {
	position: absolute;
	top: 8px;
	right: 0;
	.header__info__phone-item {		
		padding: 0;
		margin: 0;
		color: #fff;
		font-size: 25px;
        text-decoration: none;
	}
	.header__info__phone-item_another {
		font-family: 'elektra_light_probold';
		color: #00b9fe;
		font-size: 0.50em;
		top: -0.69em;
        left: -1px;
	}
}

// 2-ый блок в шапке

.header__buy {
  @extend .clearfix;
	padding: 24px 0 12px 0;
}

// Логотип

.header__buy__logo {
	margin-right: 60px ;
	float: left;
}

// Поиск

.header__buy__search {
  float: left;
  margin: 10px 0 12px 0;
}
.header__buy__search-item {
    box-sizing: border-box;
	padding: 7.5px 0 8px 10px;
	border: 1px solid #dce6f0;
	width: 336-79px;
	font-family: elektra_light_proregular;
	color: #b7b9bb;
	font-size: 15px;
	&::-webkit-input-placeholder {
	  font-family: elektra_light_proregular;
	  color: #DCE6F0;
	  font-size: 15px;
	}
}
.header__buy__search-item_search {
	margin-left: -6px;
	padding: 6.5px 14.5px 8.5px 14.5px;
	background-color: #00B9FE;
	color: #FFF;
	font-family: 'elektra_light_probold';
	font-size: 17px;
	border: none;
}

// Покупка

.header__buy__about {
	margin-top: 4px;
    @extend .clearfix;
    float: right;
}

.header__buy__about__list-item {
    display: inline-block;
    margin-left: 15px;
  position: relative;
}

.header__buy__about__list-link {
	color: #23bdfe;
    font-size: 13px;
    transition: all .3s linear;
	&:hover {
		color: #613993;
	}
}

.header__buy__about__list-link_backet {
  box-sizing: border-box;
  width: 139px;
  padding: 16px 0 15px 50px;
  background-color: #FFF;
  border: 1px solid #DCE6F0;
  display: block;
  margin-left: 3px;
  color: #5C7B98;
  position:  relative;
  &:after {
    position: absolute;
    background: url(../img/sprites.png) no-repeat -175px 0;
    width: 20px;
    height: 17px;
    content: '';
    top: 12px;
    left: 11px;
  }
}

//  3-й блок в шапке

.header__nav__wrapper {
  background-color: #F7F7F7;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.header__nav {
  text-align: center;
}

.header__nav__list-item {
  display: inline-block;
  position: relative;
  margin-left: -5px;
  &:last-child .header__nav__list-link {
    padding-right: 14px;
    &:before, &:after {
      border: none;
    }
  }
}

.header__nav__list-link {
  color: #5C7B98;
  font-size: 15px;
  text-decoration: none;
  display: block;
  padding: 13px 9px 9px 30px;
  transition: all .3s ease-in-out;
  &:before {
    content: '';
    position: absolute;
    border-left: 16px solid #dce6f0;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    top: 0;
    right: -16px;
    z-index: 99;
  }
  &:after {
    content: '';
    position: absolute;
    border-left: 16px solid #F7F7F7;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    top: 0;
    right: -15px;
    z-index: 99;
    transition: all .3s ease-in-out;
  }
  &:hover  {
    background: #dce6f0;
    &:after {
      border-left-color:  #dce6f0;
    }
  }
}

.header__nav__list-link_active {
  background: #00b9fe;
  color: #fff;
  &:after, &:before{
    border-left: 16px solid #00b9fe;
  }
  &:hover {
    background: #00b9fe;
    transform: none;
    &:after, &:before {
      border-left-color: #00b9fe;
      transform: none;
    }
  }
}